.container{
    position: absolute;
    width: 650px;
    height: 800px;
}
#canvas {
    position: absolute;
}
#rightbutton {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    left: 50%;
    top: 440px;
    width: 325px;
    height: 800px;
}
#leftbutton {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    right: 50%;
    top: 440px;
    width: 325px;
    height: 800px;
}